<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1 class="page-header">ようこそBookersへ！</h1>
      <p>
        Bookersでは、さまざまな書籍に関するあなたの意見や<br>
        印象を共有し交換することができます
      </p>
      <%= link_to "start", books_path %>

    </div>
  </div>
</div>